

header {
	height: 100%;
	width: 100%;
	text-align: left;
	height: 100%;
	width: 100%;
	background: #e0da48 url(../images/firstpagehome.jpg) no-repeat center;
	background-size:cover;
}


html,body {
	height: 100%;
}

.backgroundnav {
	background-color: rgb(255, 255, 255, 0.6); /*invece di usare comando opacity, ho usato Opacità con rgba così che l'op non fosse ereditata da elementi figli*/
	height: 13vh;
	width: 100vw;
	float: right;
	margin: 0px auto;
	text-align: right;
	position: fixed;
}


#homeicon {
	font-size: 1.3em;
	padding-left: 0.4em;
}

nav ul {
	list-style-type: none;
	opacity: 1 !important;
	margin-bottom: 0px !important;
	padding-left: 0px !important;
	
	
}

nav ul li {
	display: inline-block;
} 

.navlink {
	color: black;
	font-size: 1.4em;
	padding: 0.1em 2.2em;

}


 .navlink:hover {
 	color: black;
 	text-decoration: blink;
 	/*padding: 0.2em 0.1em;*/
}

.navlista:hover {
	background-color: white;

	/*padding: 0.1em 0.1em;*/
}


body {
	text-align: right;
}

#Payoff {
		padding-left: 0.4em;
		padding-top: 5em;
		font-family: 'Oleo Script Swash Caps', cursive;
		font-size: 60px ;
		
		

} 

#Baseline {
		position: absolute;
		padding-left: 0.9em;
		padding-top: 5em;
		top: 290px;
		right: 900px;
		font-family: 'Josefin Sans', sans-serif !important;
		font-size: 30px
}







/* Regole per IE8 */
/* header {
		background-position: top center;
}

/*#homeicon {
	font-size: 25px;
	opacity:  !important;
}

body {
	font-family: 'Lato', sans-serif !important;
	font-weight:400;
	font-style:normal;
	font-size:12px;
} */