html, body {
	width: 100%;
	height: 100%; /*il 100% fa sì che l'immagine si estanda su tutta l'aria visibile della fnestra*/
	margin: 0px;
	padding: 0px;
	overflow: visible; /*overflow specifica cosa dovrebbe succedere se l contenuto supera il box contenitore*/
	font-family: 'Josefin Sans', sans-serif;
}

header {
	text-align: left;
	background: #e0da48 url(../images/firstpagehome.jpg) no-repeat center;
	background-size:cover;
	height: 100%;
	font-family: 'Josefin Sans', sans-serif;
}

body {
	font-family: 'Josefin Sans', sans-serif ;
	font-weight: ....;
	font-style: ....;
	font-size: ...;
}

#homeicon {
	font-size: 1.5vw;
	padding: 2px 3px;
}

nav ul { list-style-type: none;}

nav ul li {
	display: inline-block;
	padding-top: 1em;
	padding-bottom: 0.5em ; /*da aggiustare*/
	padding-left: 4.5em;
	font-size: 1.3vw;
} 	

#navartisti {padding-right: 3em !important;}

.navlink {
	color: black;
	text-decoration: none; 
}

.navlink:hover {
 	color: black;
 	text-decoration: underline;
}

#backgroundnav {
	margin: 0px auto;
	text-align: right !important;
	background-color: rgb(255, 255, 255, 0.6); /invece di usare comando opacity, ho usato Opacità con rgba così che l'op non fosse ereditata da elementi figli/
	height: 13vh;
	width: 100%;
	position: fixed;  /*grazie a fixed il nav segue lo scroll. Attenzione: è come se l'elemento ora uscisse dal flusso, quindi gli elementi non stanno più sotto*/
}

#payoff {
	font-family: 'Oleo Script Swash Caps', cursive;
	font-size: 60px ;
	padding-left: 0.4em;
	padding-top: 5em;
}


#baseline {
	position: absolute;
	padding-left: 0.9em;
	padding-top: 3em;
	top: 290px;
	right: 840px;
	font-size: 30px;
}


#frecciaheader {
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 1.5em;
}


#frecciaheader a {color: black;}


h1 {
	font-size: 1em;
}


#logo a {
	float: left;
	max-width: 25% !important;
	padding: 15px;
}


#immaginelogo { 
	float: left;
	max-width: 25% !important;
}